[Unit]
Description=Waniwa timelaps

[Service]
ExecStart=/usr/bin/python3 /home/pi/data/waniwa/niwalaps.py
#Restart=always
Type=simple

#[Install]
#WantedBy=multi-user.target
